<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/soufgameyt/soufgameyt.github.io/raw/main/Signed%20Ipa/ESign%20-%20MoopX_4.8.2_1703362454.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://iosninja.io/img/ipas/esign-ipa-app-icon.jpeg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>p3.xyz.yyyue.esign</string>
				<key>bundle-version</key>
				<string>4.8.2</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>ESign-Khơindvn</string>
			</dict>
		</dict>
	</array>
</dict>
